* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
 }

body {
  background-color: rgb(50 50, 50);
}

#maintitle {
  color:  white;
  text-align: center;
  font-size:  50px;
}

#topbar {
  background-color: rgb(70 70, 70);
  margin: -8px;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#bottombar {
  background-color: goldenrod;
  color:  white;
  margin: -8px;
  padding:  8px;
  padding-left: 15px;
  margin-bottom: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}