body {
  background-color: rgb(50 50, 50);
}

#maintitle {
  font-family: 'Titillium Web', sans-serif;
  color:  white;
  text-align: center;
  font-size:  50px;
}

#topbar {
  height: 10px;
  background-color: rgb(70 70, 70);
  margin: -8px;
  overflow: hidden;
  position: fixed;
  width: -webkit-fill-available;
}