* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
 }

body {
  background-color: rgb(50 50, 50);
}

#maintitle {
  color:  white;
  text-align: center;
  font-size:  50px;
}

.topbar {
  background-color: rgb(30 30, 30);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.topbar *{
  float:  left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

#bottombar {
  background-color: goldenrod;
  color:  white;
  padding:  8px;
  margin-bottom: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}